.commercial{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textCommerical{
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
    text-align: center;
    margin: 0;
    width: 100%;
    line-height: 2;
}
.carousel {
    background-color: white;
    background-image: none;
}
.carousel .overlay {
    background-color: white;
    
}
.carousel  p{
    color: #8D9297 !important;

}
.carousel .headAbout h2{
    color: #182333 !important;

}
.carousel input ,.carousel textarea{
    background-color: #F8F9FA !important;
}

/*  */
.contactOur .ourText h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #182333;
    font-weight: 600;
}
.contactOur .ourText p{
    font-size: 16px;
    color: #8D9297;
}
.contactOur .Pabout{
    font-size: 16px;
    color: #8D9297;
}
.row .one{
    display: flex;
    gap: 20px;
}
.row .one input{
    width: 100%;
}
.ourInput input, .ourInput textarea{
    width: 100%;
    padding: 16px 12px;
    color: #8D9297;
    background-color: #F8F9FA ;
    border: none;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.ourInput button{
    padding: 16px 48px;
    background-color: #FDA12B;
    color: white;
    font-size: 16px;
    border: none;
}