/* Header start */

.fristHead p {
    position: relative;
    padding-left: 40px;
}

.fristHead p i {
    font-size: 18px;
    line-height: 8px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.sec i {
    font-size: 18px;

}

.noMargin {
    margin-left: 0 !important;
    border-left: 0;
}

.links ul li a {
    transition: .5s linear;
}

/* Header End */

/* commercial start */
.commercial {
    background-image: url(../../img/carousel-1.jpg);
    height: 120vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.commercial::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.textCommerical {
    position: absolute;
    z-index: 11111111111;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.circle {
    position: relative;
}

.circle::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: -26px;
    transform: translate(-0%, -50%);
    position: absolute;

}

.circle::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    right: -26px;
    transform: translate(-0%, -50%);
    position: absolute;

}

.btn a {
    padding: 1rem 3rem;
    display: inline-block;
    border: 2px solid transparent;
    transition: .5s linear;
}

.btn a:hover {
    border: 2px solid transparent;
}

/* commercial start */
/* about Start */
.imgAbout {
    position: relative;
}

.imgAbout img {
    margin: 60px 0 0 !important;
    object-fit: cover;

}

.info {
    position: absolute;
    width: 40%;
    height: 40%;
    left: -5%;
    top: 4%;
    border: 15px solid transparent;
    border-top: 0;
    border-left: 0;
}

.textInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headAbout {
    position: relative;
}

.headAbout::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    left: 0;
    top: 0;
}

.check span {
    position: relative;
}

.check span i {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.check {
    border-top: 1px solid transparent;
}

/* about End */
/*  */
.fact {
    position: relative;
}

.fact::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: calc(100%);
}

.fact img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.fact span {
    position: relative;
}

.textfact {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 111111;
    transform: translate(-0%, -50%);

}

.fact i {
    top: 3px;
    font-size: 16px;
    margin-left: 15px;
}

/*  */
.i {
    position: relative;
    top: 12px;
    left: -3px;
}

/*  */
.hoverColor {
    position: relative;
}

.hoverColor::after {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    inset: 0;
    transition: .2s linear;
}

.hoverColor:hover::after {
    height: 100%;
}

.textSer h3 {
    transition: .2s linear;

}

.textSer p {
    transition: .2s linear;

}

.textSer a {
    transition: .2s linear;

}

/* carousel */
.carousel {
    background-image: url(../../img/carousel-2.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
}

/*  */
.carousel input,
.carousel textarea {
    padding: 20px 20px !important;
    border: 0;
    font-size: 16px;
}

.carousel textarea {
    height: 100px;
}

.carousel button {
    padding: 20px 20px !important;

}

/*  */
/*  */
.allOFTeam .col {
    position: relative;
}

.allOFTeam .col .text {
    position: absolute;
    bottom: 10%;
    width: 80%;
    padding: 20px;
    transition: .2s linear;
}

.allOFTeam .col:hover .text {
    width: 100%;
}

/*  */
.borderBottom20 {
    position: relative;
}

.borderBottom20::after {
    content: "";
    height: 5px;
    position: absolute;
    width: 10%;
    bottom: -2.5px;
    left: 0;
}

.cli {
    display: flex;
    gap: 10px;
}

.cli .i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s linear;
    border-radius: 50%;
}

/*  */
footer h2 {
    padding-bottom: 2rem;
}

footer .sec .socails .iconsSocail {
    width: 40px;
    height: 40px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    transition: .2s linear;
}

footer .sec .socails .iconsSocail i {
    transition: .2s linear;
}

footer ul li {
    transition: .2s linear;
}

footer ul li a {
    transition: .2s linear;
}

footer ul li:hover {
    transform: scaleX(1.2);
    transform-origin: left;

}

footer input {
    padding: 20px 0 20px 10px;
    border: 1px solid;
}

form {
    position: relative;
    margin-top:20px;
}

.btnNew {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    
}

.btnNew .new {
    padding: 10px;
    border: 1px solid;
    font-size: 16px;
    transition: .2s linear;
}
.line{
    height: 1px;
    width: 100%;
}
/*  */
/* up */
.up {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: fixed;
    bottom: 2%;
    right: 2%;
}
/* up */
.showLink{
    position: relative;
}
.showLink .nextLink{
    position: absolute;
    z-index: 1111111111111;
    background: white;
    padding: 0 20px;
    padding-top: 10px;
    top: 20px;
    transform: translateY(200px);
    left: -40px;
    transition: .2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}
.showLink .nextLink li{
    margin-bottom: 10px;
}
.showLink:hover .nextLink{
    transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}
.menuIcon{
    display: none;
}